@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: #5AA9E6;
    --secondary-color: #FF6392;
    --accent-color: #7FC8F8;
    --highlight-color: #FFE45E;
    --background-color: #067681;
    --text-color-light: #F9F9F9;
    --text-color-dark: #2c3e50;
    --font-montserrat: 'Montserrat', sans-serif;
    --font-opensans: 'Open Sans', sans-serif;
}


html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body h1, body h2, body h3, body h4 {
    font-family: var(--font-montserrat);
}

body p {
    font-family: var(--font-opensans);
}


header {
    display: grid; 
    grid-template-columns: auto 1fr auto;
    align-items: center; 
    background-color: var(--primary-color);
    padding: 10px 20px; 
    border-bottom: 4px solid var(--accent-color);
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    width: 60px;
    height: 60px;
    margin-right: 15px; 
}

.navbar a {
    text-decoration: none;
    color: var(--text-color-light);
    padding: 10px 20px;
    display: inline-block;
    font-family: var(--font-opensans);
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    color: var(--accent-color);
}

footer {
    background-color: var(--secondary-color); 
    padding: 15px 0;
    text-align: center;
    font-size: 0.9rem;
    color: var(--text-color-light);
}

footer a {
    text-decoration: none;
    font-family: var(--font-opensans);
    padding: 1rem;
}

main {
    text-align: center;
}

main p {
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
}

.hero {
    position: relative;
    text-align: center;
    color: var(--text-color-light);
    background-image: url('images/hero.png'); 
    background-size: cover; 
    background-position: center;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1{
    font-size: 2.5rem;
    font-family: var(--font-montserrat);
    color: var(--text-color-light);
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8),  
         0 0 10px rgba(0, 0, 0, 0.5);  
    margin: 0;
    z-index: 2;
}

.hero h2{
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8),  
         0 0 10px rgba(0, 0, 0, 0.5);  
    color: var(--highlight-color)
}

.hero article {
    font-family: var(--font-opensans);
    background: rgba(0, 0, 0, 0.6);
    padding: 1.5rem;
    border-radius: 8px;
    max-width: 600px;
    color: #fff;
    display: flex;
    flex-direction: row; 
    align-items: center;
    position: relative;
    z-index: 2;
    gap: 1rem;
    top: 30px;
}

.hero article img {
    width: 250px; 
    height: auto;
    border-radius: 5px;
}

.hero article p {
    flex: 1; 
}


.hero-button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-style: italic;
    color: #fff;
    background-color: var(--secondary-color);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero-button:hover {
    background-color: #FFA000;
}

.hero a{
    text-decoration: none;
    color: #fff;
}

.highlight {
    color: var(--highlight-color);
}

section {
    width: 100%;
    margin: 1rem auto;
    border-radius: 4px;
    padding: 1rem;
    background-color: var(--background-color);
    color: #f0f0f0;
    text-align: center;
}

section p {
    max-width: 800px; 
    margin: 0 auto;  
    padding-bottom: 15px;
}

section img {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
    margin: 0.5rem; 
    transition: background-color 0.3s ease, opacity 0.3s ease;
    border-radius: 5px;
}

section img:hover {
    background-color: rgb(255, 255, 255);
    opacity: 0.7;
}


section div {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

section button{
    padding: 0.5rem 1rem;

    font-size: 1rem;
    font-style: italic;
    color: #fff;
    background-color: var(--secondary-color);
    border-radius: 5px;
    border: 0ch;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

section button:hover{
    background-color: #FFA000;
}



figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figcaption {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    font-family: 'Open Sans';
    font-weight: bold;
}

label {
    font-family: var(--font-opensans);
    font-weight: bold;
    color: var(--secondary-color);
    display: block; 
    margin-bottom: 0.5rem; 
}

input[type="text"], input[type="email"], input[type="password"], textarea {
    width: 400px;
    padding: 10px; 
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 1rem; 
    resize: none;
}

input[type="radio"]{
    position: relative;
    bottom: 5px; 
    left: 10px;
}

input[type="checkbox"]{
    position: relative;
    bottom: 3.4px; 
    left: 10px;
}

form {
    display: block;
    flex-direction: column; 
    max-width: 600px; 
    margin: 0 auto; 
}



footer div {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 1rem;
}

footer div a img {
    width: 30px;
    height: auto;
    transition: opacity 0.3s ease;
}

footer div a img:hover {
    opacity: 0.7;
}
